style.
  body {
    color:'#5f6062';
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  p {

  }


doctype html  
html(lang='en')  
 body
    p
            b=` Public IP address : ` 
            =` ${IP}`

